<div class="whole-thing">
  <h1 class="yummy">Create Yummy Nom Menu</h1>

    <div class="field">
      <p class= "choose">Choose your Course</p>
      <p><%=link_to'Breakfast', new_dish_path %></p>
      <p><% dishes.where(course_id: 1).each do |dish|%></p>
        <p><%= dish.name %></p>
      <% end %>

      <p><%=link_to'Lunch', new_dish_path %></p>
      <p><%=link_to'Dinner', new_dish_path %></p>
    </div>

</div>
